/* display stuff */
/* position stuff */
/* box-model stuff */
/* typography stuff */
/* manipulation stuff */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
	// Button layouts
	.two-btn-wrapper{
		@apply flex gap-2
	}
	
	// Buttons
	.btn {
		@apply rounded-lg px-7 py-2 text-sm font-medium text-white whitespace-nowrap cursor-pointer font-classmate-georgia-bold antialiased
	}

	.btn--blank {
		@apply bg-transparent p-0 rounded-none text-black 
	}

	.btn--hover {
		@apply transition ease-in-out hover:scale-105 duration-300
	}

	.btn--primary {
		@apply bg-classmate-green-2
	}

	.btn--outline {
		@apply border border-black text-black
	}

	.btn--link {
		@apply box-border p-0
	}

	.link {
		@apply flex justify-center items-center w-full h-full py-2 px-7
	}
}


@font-face {
font-family: 'georgia';
font-style: normal;
font-weight: normal;
src: local('georgia'), url('../public/fonts/georgia.woff') format('woff');
}


@font-face {
font-family: 'georgia-italic';
font-style: normal;
font-weight: normal;
src: local('georgia-italic'), url('../public/fonts/georgiai.woff') format('woff');
}


@font-face {
font-family: 'georgia-bold';
font-style: normal;
font-weight: normal;
src: local('georgia-bold'), url('../public/fonts/georgiab.woff') format('woff');
}


@font-face {
font-family: 'georgia-bold-italic';
font-style: normal;
font-weight: normal;
src: local('georgia-bold-italic'), url('../public/fonts/georgiaz.woff') format('woff');
}

.font-classmate-georgia {
	font-family: 'georgia';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-classmate-georgia-bold {
	font-family: 'georgia-bold';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-classmate-georgia-italic {
	font-family: 'georgia-italic';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-classmate-georgia-bold-italic {
	font-family: 'georgia-bold-italic';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--classmate-green-1: #031E03;
	--classmate-green-2: #144514;
	--classmate-green-3: #699659;
	--classmate-green-4: #A3BF98;
	--classmate-green-5: #C8F9B1;
	--classmate-green-6: #4D5E4A;
	--classmate-gray-1: #848480;
	--classmate-gray-2: #AFADAC;
	--classmate-pink-1: #DA8088;
	--classmate-gold-1: #D0A13D;
	--classmate-tan-1: #EFEBDD;
	--classmate-tan-2: #F8F4EE;
  }