/* display stuff */
/* position stuff */
/* box-model stuff */
/* typography stuff */
/* manipulation stuff */
/* misc */

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	padding-block: 1rem;
	margin-inline: 5%;
	border-bottom: 1px solid lightgrey;
}

.links_wrapper {
	display: flex;
	justify-content: center;
	gap: 2rem;

	width: 100%;
	margin: 0;
	padding: 0;
	padding-inline: 3rem;

}

.link {
	height: fit-content;

	font-size: 14px;

	list-style-type: none;
}


