/* display stuff */
/* position stuff */
/* box-model stuff */
/* typography stuff */
/* manipulation stuff */
/* misc */

.container{
    margin-inline: 8rem;
    box-sizing: border-box;
    overflow: auto;
}